<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>jxcategoryproducts</name>
    <displayName><![CDATA[JX Category Products]]></displayName>
    <version><![CDATA[2.0.6]]></version>
    <description><![CDATA[This module displays category products on the homepage]]></description>
    <author><![CDATA[Zemez]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>