.product-header {
  .product-name {
    margin: 0;
    @include media-breakpoint-down(xs) {
      font-size: 28px;
    }
  }
}

#product-card {
  padding-top: 40px;
  padding-bottom: 20px;
  .images-container {
    padding-left: 8%;
    .swiper-container {
      height: 100%;
    }
  }
  .product-description {
    margin-bottom: 26px;
  }
  @include media-breakpoint-up(md) {
    padding-top: 52px;
  }
  @include media-breakpoint-up(xl) {
    padding-bottom: 84px;
  }
  @include media-breakpoint-between(sm, xl) {
    .product-info {
      padding-left: 4%;
    }
  }
  @include media-breakpoint-down(sm) {
    .images-container {
      margin-bottom: 50px;
    }
  }
  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-lookbooks {
    flex: 0 0 100%;
  }
}

.images-container {
  position: relative;
  .image-wrap {
    padding: 4% 20%;
    background-color: $gray-100;
  }
  .product-cover {
    position: relative;
    background: $gray-100;
    .layer {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      z-index: 2;
      i {
        font-size: 30px;
      }
    }
  }
  .product-images {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 7%;
    bottom: 7%;
    width: auto;
    transition: 0.3s opacity ease;
  }
  .swiper-container {
    height: 100%;
    ul {
      margin: 0;
      .thumb-container {
        background-color: $white;
        img {
          height: 100%;
          width: auto;
          background-color: $gray-250;
          cursor: pointer;
          transition: 0.3s opacity ease;
          &.selected {
            opacity: 0.6;
            cursor: default;
          }
        }
      }
    }
  }
  .product-images-prev, .product-images-next {
    display: block;
    position: absolute;
    left: calc(50% - 16px);
    padding: 5px 12px;
    color: $black;
    cursor: pointer;
    transition: 0.3s all ease;
    margin: 0;
    &:before {
      display: block;
      content: '';
      height: 20px;
      width: 1px;
      background: #000000;
      margin-left: 3px;
    }
    &:after {
      display: block;
      position: absolute;
      left: 50%;
      content: '';
      width: 6px;
      height: 6px;
      transform: rotate(45deg) translateX(-58%);
    }
    &:hover {
      color: $brand-primary;
    }
  }
  .product-images-prev {
    bottom: 108%;
    top: auto;
    &:after {
      top: 7px;
      border-top: 1px solid;
      border-left: 1px solid;
    }
  }
  .product-images-next {
    top: 108%;
    &:after {
      bottom: 2px;
      border-bottom: 1px solid #000000;
      border-right: 1px solid #000000;
    }
  }
  @include media-breakpoint-up(xl) {
    .product-images-prev {
      bottom: 112%;
    }
    .product-images-next {
      top: 112%;
    }
  }
}

.product-top {
  font-size: 12px;
  color: $gray-500;
  label {
    padding-right: 5px;
  }
  span {
    color: $brand-primary;
  }
  @include media-breakpoint-down(sm) {
    .details-table {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      > div {
        margin-right: 25px;
      }
    }
  }
  @include media-breakpoint-up(md) {
    label {
      padding-right: 20px;
    }
    .details-table {
      > div {
        display: table-row;
      }
      label, span {
        display: table-cell;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    .details-table {
      label, span {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

h1.product-name {
  text-transform: none;
  font-weight: normal;
  margin-bottom: 15px;
  line-height: 1.3;
}

.product-card-prices {
  margin-bottom: 22px;
  .tax-shipping-delivery-label {
    font-size: 12px;
    color: $gray-600;
    .delivery-information {
      padding: 0 0 0 2px;
      &::before {
        content: "-";
        padding: 0 2px 0 0;
      }
    }
  }
  .daydeal-box {
    margin-top: 7px;
    margin-bottom: 10px;
    @include media-breakpoint-up(xl) {
      font-size: 22px;
    }
  }
}

.product-unit-price {
  margin-bottom: 0;
}

.add .add-to-cart i {
  display: inline-block;
  position: relative;
  width: 23px;
  margin-left: 8px;
  border-bottom: 1px solid;
  font-style: normal;
  vertical-align: middle;
  &:after {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 2px;
    content: '';
    width: 6px;
    height: 6px;
    border-top: 1px solid;
    border-right: 1px solid;
    transform: rotate(45deg) translateY(-58%);
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.product-add-to-cart {
  .wishlist-button, .compare-button {
    font-size: 20px;
    line-height: 1;
    color: $gray-400;
    margin-bottom: 1.428rem;
    &:hover {
      color: $black;
    }
  }
  .wishlist-button {
    display: block;
    margin-right: 20px;
    @include media-breakpoint-up(lg) {
      margin-right: 30px;
    }
  }
}

#product-availability {
  .product-available {
    color: $brand-success;
  }
  .product-unavailable {
    color: $brand-danger;
  }
  .product-last-items {
    color: $brand-warning;
  }
}

.product-variants {
  margin-bottom: 23px;
  h6 {
    font-weight: 300;
    margin-bottom: 10px;
    color: $black;
  }
  .product-variants-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .product-variants-item .custom-control-inline {
    margin-bottom: 5px;
  }
  .list-inline-item:not(:last-child) {
    margin-right: 0;
  }
  .custom-select {
    width: 318px;
  }
}

/**
 * Product customization's styles
 * Product page and quick view
 */
.product-customization {
  margin-bottom: 20px;
  .required:after {
    position: static;
  }
  .product-customization-item {
    margin-bottom: 0;
    textarea {
      height: 126px;
    }
  }
  .custom-file-wrapper {
    .custom-file {
      height: auto;
      .custom-file-input {
        position: absolute;
        height: 100%;
        padding: 0;
        z-index: 0;
      }
    }
  }
}

.product-pack {
  .product-pack-row {
    margin-left: -5px;
    margin-right: -5px;
    .pack-miniature {
      padding-left: 5px;
      padding-right: 5px;
      img {
        width: 100%;
        background: $gray-200;
      }
      h2 {
        font-size: 12px;
      }
      .price {
        font-size: 14px;
        color: $gray-800;
      }
    }
  }
}

#tab-content {
  color: $gray-500;
  > div {
    margin-top: 30px;
  }
  .tab-title {
    a {
      display: inline-block;
      &:before {
        @include addLinearIcon('\ec37', 18px);
        margin-right: 30px;
      }
      &.collapsed {
        &:before {
          content: '\ec36';
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    .tab-title + div {
      padding-left: 60px;
    }
  }
  @include media-breakpoint-up(lg) {
    > div {
      margin-top: 47px;
    }
    .tab-title {
      text-align: right;
    }
  }
  @include media-breakpoint-up(xl) {
    .product-description p {
      margin-bottom: 24px;
    }
  }
}

.product-features {
  > dl.data-sheet {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    dd.value,
    dt.name {
      font-weight: normal;
      word-break: break-all;
      margin: 0;
    }
    dd.value {
      flex: 0 0 50%;
      max-width: 50%;
      border-bottom: 1px solid $gray-250;
      padding: 15px 20px 14px 0;
      color: $black;
      &:last-child {
        border-bottom: none;
      }
    }
    dt.name {
      flex: 0 0 50%;
      max-width: 50%;
      border-bottom: 1px solid $gray-250;
      font-weight: 300;
      padding: 15px 20px 14px 0;
      &:nth-last-child(2) {
        border-bottom: none;
      }
    }
    @include media-breakpoint-up(md) {
      dd.value {
        flex: 0 0 70%;
        max-width: 70%;
      }
      dt.name {
        flex: 0 0 30%;
        max-width: 30%;
      }
    }
  }
}

.social-sharing {
  a {
    display: inline-block;
    background: none;
    color: $gray-400;
    cursor: pointer;
    &.pinterest {
      color: $gray-400;
    }
    &:hover, &:active {
      color: $black;
      background: none;
      &.pinterest {
        color: $black;
      }
    }
    i {
      font-size: 22px;
    }
  }
}

#main #product-card .page-content {
  margin-bottom: 0;
}

@keyframes zoomIn {
  from {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}