#search-form {
  border: 1px solid #494949;
}
#search-form .block {
  height: 31px;
  color: #818181;
  background: none;
  border: none;
  padding: 5px 14px;
}
.btn-search {
  width: 41px;
  height: 31px;
}